@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add animation for the loading effect */
@keyframes loading {
  0%,
  100% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.5);
  }
}

.loading-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-bar div {
  width: 4px; /* Adjust width as needed */
  height: 20px; /* Adjust height as needed */
  margin: 0 2px; /* Space between bars */
  background-color: #3b82f6; /* Tailwind blue-500 */
  animation: loading 0.8s infinite ease-in-out;
}

/* Add animation delay for each bar */
.loading-bar div:nth-child(1) {
  animation-delay: 0s;
}
.loading-bar div:nth-child(2) {
  animation-delay: 0.1s;
}
.loading-bar div:nth-child(3) {
  animation-delay: 0.2s;
}
.loading-bar div:nth-child(4) {
  animation-delay: 0.3s;
}
.loading-bar div:nth-child(5) {
  animation-delay: 0.4s;
}
.loading-bar div:nth-child(6) {
  animation-delay: 0.5s;
}
.loading-bar div:nth-child(7) {
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.6s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}

.bg-grid-pattern {
  background-image: linear-gradient(to right, #f0f9ff 1px, transparent 1px),
    linear-gradient(to bottom, #f0f9ff 1px, transparent 1px);
  background-size: 24px 24px;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

.gradient-animate {
  background-size: 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient 4s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
